<!--<form class="flight_selector">-->
  <div>
    <app-airportpicker [title]="'Departure airport'" #departureAirport></app-airportpicker>
    <app-airportpicker [title]="'Arrival airport'" #arrivalAirport></app-airportpicker>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Choose date of flight</mat-label>
      <input [required]="true" matInput [matDatepicker]="picker" #date>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="submit(date.value, departureAirport.airport.value, arrivalAirport.airport.value)">
      Show flights
    </button>
  </div>
<!--</form>-->

<mat-action-list>
  <mat-list-item
      (click)="downloadIcs(flight, departureAirport, arrivalAirport)"
      (touchstart)="downloadIcs(flight, departureAirport, arrivalAirport)"
      *ngFor="let flight of flights">
    <span matListItemLine>{{ flight.departure_airport_name }} - {{ flight.arrival_airport_name }}</span>
    <span>{{ flight.departure | date:'short' }} - {{ flight.arrival | date:'short' }}</span>
  </mat-list-item>
</mat-action-list>

