<div class="flight-form-container">
  <div class="airport-picker">
    <app-airportpicker [title]="'Departure airport'" #departureAirport (keydown.enter)="arrivalAirport.focus()"></app-airportpicker>
  </div>
  <div class="airport-picker">
    <app-airportpicker [title]="'Arrival airport'" #arrivalAirport (keydown.enter)="calendar.focus()"></app-airportpicker>
  </div>
</div>

<div class="mat-mdc-form-field-flex">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Choose date of flight</mat-label>
    <input #calendar matInput [matDatepicker]="picker" #date (focus)="picker.open()"
           (keydown.enter)="submit(date.value, departureAirport.airport.value, arrivalAirport.airport.value)" required>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="show-flights-button">
  <button mat-raised-button color="accent"
          (click)="submit(date.value, departureAirport.airport.value, arrivalAirport.airport.value)">
    Show flights
  </button>
</div>

<mat-card *ngFor="let flight of flights" class="flight-card">
  <mat-card-header>
    <mat-card-title>{{ flight.airline_name }}</mat-card-title>
    <mat-card-subtitle>{{ flight.departure_airport_name }} - {{ flight.arrival_airport_name }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Departure: {{ flight.departure | date:'short' }}</p>
    <p>Arrival: {{ flight.arrival | date:'short' }}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <add-to-calendar-button
      [attr.name]="'Flight from ' + flight.departure_city + ' to ' + flight.arrival_city"
      [attr.startDate]="flight.departure | date:'yyyy-MM-dd'"
      [attr.startTime]="flight.departure | date:'HH:mm'"
      [attr.endTime]="flight.arrival | date:'HH:mm'"
      [attr.location]="flight.departure_airport_name"
      [attr.description]="'Flight from <it>' + flight.departure_airport_name + '</it> to <it>' +
        flight.arrival_airport_name + '</it>:<br>Departure: ' + (flight.departure | date:'short') + '<br>Arrival: ' +
        (flight.arrival | date:'short')"
      options="'Google','iCal'"
      buttonsList
      hideTextLabelButton
      buttonStyle="round"
      lightMode="bodyScheme"
    ></add-to-calendar-button>
  </mat-card-actions>
</mat-card>
