<mat-form-field class="mat-mdc-form-field-flex">
  <mat-label>{{ title }}</mat-label>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let airport of filteredAirports | async" [value]="airport">
      {{ airport.String() }}
    </mat-option>
  </mat-autocomplete>
  <input #airportPickerInput type="text"
         placeholder="Pick one"
         aria-label="Number"
         [formControl]="airport"
         [matAutocomplete]="auto"
         [required]="true"
         matInput
  >
</mat-form-field>
